<!doctype html>
<html ng-app>
<head>
   

    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>


    <script type="text/javascript">
        function DatesController($scope){
            $scope.dates = [];

            $scope.addDate = function () {

              var submitted_date = moment($scope.dateValue);
              var formatted_submission = moment(submitted_date).format("MMM Do YY")
              var year = moment($scope.dateValue).get('year');
              var jan1 = new Date(year,0,01);
              var formatted_jan1 = moment(jan1).format("MMM Do YY");
              var difference = parseInt(submitted_date - jan1)/86400000;

              $scope.dates.push({
                date: formatted_submission,
                jan1: formatted_jan1,
                diff: difference
                
              });
              
              $scope.dateValue = "";
            };

            $scope.$watch('dates', function() {
              var subTotal = 0;

              $scope.dates.forEach(function(date) {
                subTotal += date.diff;
              });

              $scope.subTotal = subTotal;
            }, true);


        }  
    </script>

</head>
<body>
    <div ng-controller="DatesController">

      <div id="AddDate">
        <h4>Add a Date</h4>
        <input type="date" ng-model="dateValue">
        <button ng-click="addDate()">Add to List of Dates</button>
      </div>


      <div id="DateList">
        <h4>Added Dates</h4>

        <table>
          <tr><td><b>Total Days:</b></td> <td>{{subTotal}}</td><td></td></tr>
          <tr ng-repeat="date in dates">
            <td><b>Date: </b>{{date.date}}</td>
            <td><b>New Year:  </b>{{date.jan1}}</td>
            <td><b>Difference in Days:  </b>{{date.diff}}</td>
          </tr>
          
        </table>

      </div>
      
    </div>
</body>
</html>